* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* GLOBAL */
body {
    font-family: 'Open Sans', sans-serif;
}

.center-container {
    width: 90%;
    margin: 0px auto;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style-type: none;
}

/*  HEADER  */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.title {
    max-width: 50px;
    display: block;
}

header ul li {
    flex: 1;
    display: inline-block;
    margin-left: 15px;
    justify-content: center;
    align-items: center;
}

header a{
    color: #000;
}

header img{
    width: 15vw;
    max-width: 100px;
}

.textAlign {
    text-align:start;
}

.highlight {
    font-weight: bold;
}

/* TOP MAIN PAGE */
.top-main-page {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 25px;
    /* border: 1px solid red; */
}

.left-top-main {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
    /* border: 1px solid greenyellow; */
}

.left-top-main h1, .left-bottom-main h1, .newsletter h1{
    font-size: 160%;
    margin: 10px auto;
}

.left-top-main p, .left-bottom-main p,.newsletter p {
    font-size: 90%;
    margin: 10px 5px;
}

.right-top-main {
    width: 50%;
}

.right-top-main img {
    width: 100%;
}

.take-email {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

}


.button {
    background-color: rgb(51, 51, 201);
    border: none;
    color: #fff;
    padding: 7px 40px;
    border-radius: 5px;
}

.button:hover {
    cursor: pointer;
    opacity: 0.6;
}

input[type="email"] {
    min-height: 30px;
    padding: 5px 25px;
    font-size: 12px;
    margin: auto;
    width: 100%;
    border-radius: 5px;
}

/* BOTTOM MAIN PAGE */

.bottom-main-page {
    display: block;
    margin-top: 15%;
    background-color:#F8F8FE;
    position: relative;
}

.bottom-main-page::before {
    content: '';
    position: absolute;
    background: url("../images/bg-curve-desktop.svg") center no-repeat;
    bottom: 100%;
    height: 110px;
    width: 100%;
}

.bottom-main-container{
    display: flex; 
    justify-content: center;
    align-items: center;
}

.left-bottom-main {
    width: 50%;
}

.right-bottom-main {
    width: 50%;
}

.left-bottom-main h1 {
    margin: 20px auto;
}

 .right-bottom-main img {
    width: 100%;
} 


/* TESTIMONIAL - INSIDE BOTTON-MAIN-PAGE*/
.testimonial {
    background-color:#fff;
    width: 60%;
    padding: 20px;
    border-radius: 8px;
    margin: 30px 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.testimonial p {
    display:block;
    margin: 8px 0;
    font-size: 0.8em;
}

.small-testimonial-container {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

.left-testimonial {
    /* background-color: antiquewhite; */
    max-width: 20%;
}

.left-testimonial img {
    width: 80%;
}

.left-testimonial p{
    margin: 5px 0;
}

.right-testimonial {
    background-color: #fff;
}

.avatar {
    border-radius: 50%;
    width: 50%;
}

.left-bottom-main a{
    color: #3DA08F;
    font-size: 14px;
    position: relative;
}

.left-bottom-main a::after {
    bottom: 100%;
    content: '';
    height: 2px;
    background-color:#3DA08F;
    position: absolute;
    width: 100%;
    right: 0px;
    top:20px
}


/*  NEWSLETTER  */
.newsletter {
    color: #fff;
    background-color:hsl(238, 22%, 44%);
}

.newsletter-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 200px;
}

.newsletter-left {
    width: 50%;
}

.newsletter-right {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.newsletter-right input[type="email"]{
    max-width: 80%;
    margin-bottom: 5px;
}

.newsletter-right .button {
    align-self: flex-start;
}


/*  FOOTER  */
footer {
    display: flex;
    background-color:  hsl(243, 87%, 12%);
}

footer .center-container {
    display: flex;
    min-height: 250px;
    color: #fff;
    align-items: center;
    justify-content: space-between;
}


.col30pr {
    width: 30%;
}

.social {
    width: 30%;
}

.social .fab:hover {
    color: rgb(91, 91, 206);
}

.col30pr p {
    display: block;
}

.col30pr a, .col20pr a{
    color: #fff;
}

.col20pr {
    width: 20%;
}

.col30pr ul li a:hover, .col20pr ul li a:hover {
    color: rgb(91, 91, 206);
}

.col20pr ul li {
    margin: 10px 0;
    padding: 10px;
}


#white-logo {
    filter:brightness(0) invert(1);
}

#msg, #msg2 {
    color: rgb(236, 70, 70);
    font-size: 0.8rem;
}

#msg2 {
    color:#fff;
    font-size: 0.8rem;
}


/* ------------------------------------------------------------------------------------------*/

/*  MOBILE VIEW  */
@media screen and (max-width: 568px){
    .top-main-page, .bottom-main-container {
        flex-direction: column-reverse;
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }
    
    .button {
        width: 100%;
    }

    .textAlign {
        text-align: center;
    }


    /* TOP MAIN PAGE*/
    .left-top-main,.right-top-main {
        width: 100%;
    }


    .take-email {
        flex-direction: column;
        flex-wrap: wrap;
        /* margin: 20px 10px 20px 10px; */  
        width: 100%;
    }

    .newsletter input[type="email"] {
        min-width: 100%;
        margin-bottom: 7px;
        /*  increase width of input-box  */ 
    }


    /*  BOTTOM MAIN PAGE  */
    .bottom-main-page .center-container{
        flex-direction: column-reverse;
    }

    .bottom-main-page {
        margin-top: 25%;
    }

    .left-bottom-main, .right-bottom-main {
        width: 100%;
    }

    /* TESTIMONIAL - INSIDE BOTTOM-MAIN-PAGE */
    .testimonial {
        width: 100%;
    }

    /*  NEWSLETTER  */
    .newsletter-left, .newsletter-right {
        width: 80%;
        margin: 20px auto;
    }

    /*  FOOTER  */ 
    footer .center-container {
        flex-direction: column;
    }

    .col20pr, .col30pr {
        width: 100%;
        margin: 20px;
    }

    .col20pr ul li,.col30pr ul li {
        margin: 0px;
    }

    #white-logo {
        margin: 25px 0;
    }

}

@media screen and (min-width:569px) and (max-width:810px) {
    .take-email {
        flex-direction: column;
        width: 100%;
    }
}